<div class="background-image-container">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="d-flex flex-wrap">
                <div>
                    <h1 class="display-3">Repositorio RIUNNE</h1>
                    <p class="lead">RIUNNE</p>
                </div>
            </div>
        </div>
    </div>
    <picture class="background-image">
        <source type="image/jpg"
            srcset="assets/riunne/images/background_ri.jpg 2000w, assets/riunne/images/background_ri-half.jpg 1200w, assets/riunne/images/background_ri-tall.jpg 768w">
        <img alt=""
            [src]="'assets/riunne/images/background_ri.jpg'" /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
    </picture>
</div>